@model IEnumerable<MovieWebsite.Models.Movies.MovieViewModel>

@{
    ViewData["Title"] = "Index";
    var message = ViewBag.Message;
    var searchString = ViewBag.SearchString;
}

<h1>
    @if(searchString!=null){
        Output.WriteLine($"TỪ KHÓA:{searchString}");
    }
    else
    {
        Output.WriteLine($"DANH SÁCH PHIM");
    }
</h1>
<partial name="_Message" model="message" />
@if(User.IsInRole(role:Roles.SuperAdmin.ToString())){
    <partial name="Partials/_AdvanceIndex"/>
}else{
    <partial name="Partials/_BasicIndex" />
}